In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.listdir()

['Untitled.ipynb',
 'patientID.csv',
 'test.csv',
 'football.csv',
 'ids_with_sublabels.csv',
 'readme.md',
 'parse_csv_test.py',
 'weather.csv',
 'finishing.py',
 'parse_csv.py',
 '.ipynb_checkpoints',
 'Admission.csv',
 'playing.py']

In [3]:
file_name = os.listdir()[3]
file_name

'football.csv'

In [4]:
df = pd.read_csv(file_name)
df.head()

                Team  Games  Wins  Losses  Draws  Goals  Goals Allowed  Points
0            Arsenal     38    26       9      3     79             36      87
1          Liverpool     38    24       8      6     67             30      80
2  Manchester United     38    24       5      9     87             45      77
3          Newcastle     38    21       8      9     74             52      71
4              Leeds     38    18      12      8     53             37      66

In [5]:
col_one = df.Goals
col_one

0     79
1     67
2     87
3     74
4     53
5     66
6     48
7     46
8     49
9     55
10    46
11    35
12    36
13    38
14    45
15    44
16    29
17    41
18    33
19    30
Name: Goals, dtype: int64

In [7]:
col_two = df['Goals Allowed']
col_two

0     36
1     30
2     45
3     52
4     37
5     38
6     57
7     47
8     53
9     51
10    54
11    47
12    44
13    49
14    57
15    62
16    51
17    64
18    63
19    64
Name: Goals Allowed, dtype: int64

In [8]:
col_one - col_two

0     43
1     37
2     42
3     22
4     16
5     28
6     -9
7     -1
8     -4
9      4
10    -8
11   -12
12    -8
13   -11
14   -12
15   -18
16   -22
17   -23
18   -30
19   -34
dtype: int64

In [9]:
abs(col_one - col_two)

0     43
1     37
2     42
3     22
4     16
5     28
6      9
7      1
8      4
9      4
10     8
11    12
12     8
13    11
14    12
15    18
16    22
17    23
18    30
19    34
dtype: int64

In [23]:
df['difference'] = abs(col_one - col_two)
df.head(10)

,Team,Games,Wins,Losses,Draws,Goals,Goals Allowed,Points,difference
0,Arsenal,38,26,9,3,79,36,87,43
1,Liverpool,38,24,8,6,67,30,80,37
2,Manchester United,38,24,5,9,87,45,77,42
3,Newcastle,38,21,8,9,74,52,71,22
4,Leeds,38,18,12,8,53,37,66,16
5,Chelsea,38,17,13,8,66,38,64,28
6,West_Ham,38,15,8,15,48,57,53,9
7,Aston_Villa,38,12,14,12,46,47,50,1
8,Tottenham,38,14,8,16,49,53,50,4
9,Blackburn,38,12,10,16,55,51,46,4

In [19]:
# help(df.where)
np.amin(df['difference'])
# help(np.amin)
# np.amin(np.array([2,3,-1,5]))
# type(df['difference'])
# df.where(np.amin(df['difference']))

1

In [22]:
# help(np.argmin)
np.argmin(df['difference'])

/Users/marianamarkella/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:56: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  return getattr(obj, method)(*args, **kwds)

7

In [25]:
pd.idxmin(df['difference'])

AttributeError: module 'pandas' has no attribute 'idxmin'

In [27]:
min_difference_index = df['difference'].idxmin()
min_difference_index

7

In [31]:
df.iloc[7, :]

Team             Aston_Villa
Games                     38
Wins                      12
Losses                    14
Draws                     12
Goals                     46
Goals Allowed             47
Points                    50
difference                 1
Name: 7, dtype: object

In [32]:
df.iloc[7, 0]

'Aston_Villa'

In [33]:
df.iloc[min_difference_index, 0]

'Aston_Villa'