In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.listdir()

['Untitled.ipynb',
 'patientID.csv',
 'interview-questions',
 'test.csv',
 'football.csv',
 'ids_with_sublabels.csv',
 'readme.md',
 'min_difference.ipynb',
 'parse_csv_test.py',
 'weather.csv',
 'finishing.py',
 'parse_csv.py',
 '.ipynb_checkpoints',
 'Admission.csv',
 '.git',
 'playing.py']

In [3]:
file_name = os.listdir()[9]
file_name

'weather.csv'

In [17]:
df = pd.read_csv(file_name)
df.head(15)

,Day,MxT,MnT,AvT,AvDP,1HrP TPcpn,PDir,AvSp,Dir,MxS,SkyC,MxR,Mn,R AvSLP
0,1,88,59,74,53.8,0,280,9.6,270,17,1.6,93,23,1004.5
1,2,79,63,71,46.5,0,330,8.7,340,23,3.3,70,28,1004.5
2,3,77,55,66,39.6,0,350,5.0,350,9,2.8,59,24,1016.8
3,4,77,59,68,51.1,0,110,9.1,130,12,8.6,62,40,1021.1
4,5,90,66,78,68.3,0,220,8.3,260,12,6.9,84,55,1014.4
5,6,81,61,71,63.7,0,30,6.2,30,13,9.7,93,60,1012.7
6,7,73,57,65,53.0,0,50,9.5,50,17,5.3,90,48,1021.8
7,8,75,54,65,50.0,0,160,4.2,150,10,2.6,93,41,1026.3
8,9,86,32,59,61.5,0,240,7.6,220,12,6.0,78,46,1018.6
9,10,84,64,74,57.5,0,210,6.6,50,9,3.4,84,40,1019.0
10,11,91,59,75,66.3,0,250,7.1,230,12,2.5,93,45,1012.6
11,12,88,73,81,68.7,0,250,8.1,270,21,7.9,94,51,1007.0
12,13,70,59,65,55.0,0,150,3.0,150,8,10.0,83,59,1012.6
13,14,61,59,60,55.9,0,60,6.7,80,9,10.0,93,87,1008.6
14,15,64,55,60,54.9,0,40,4.3,200,7,9.6,96,70,1006.1

In [7]:
abs(df.MxT - df.MnT)

0     29
1     16
2     22
3     18
4     24
5     20
6     16
7     21
8     54
9     20
10    32
11    15
12    11
13     2
14     9
15    20
16    24
17    30
18    20
19    27
20    27
21    26
22    22
23    13
24    18
25    33
26    19
27    16
28    22
29    45
dtype: int64

In [9]:
min_abs_difference = abs(df.MxT - df.MnT).idxmin()
min_abs_difference

13

In [10]:
df.iloc[min_abs_difference, 0]

14

In [11]:
df.columns

Index(['Day', 'MxT', 'MnT', 'AvT', 'AvDP', '1HrP TPcpn', 'PDir', 'AvSp', 'Dir',
       'MxS', 'SkyC', 'MxR', 'Mn', 'R AvSLP'],
      dtype='object')

In [12]:
df.iloc[:, 1]

0     88
1     79
2     77
3     77
4     90
5     81
6     73
7     75
8     86
9     84
10    91
11    88
12    70
13    61
14    64
15    79
16    81
17    82
18    81
19    84
20    86
21    90
22    90
23    90
24    90
25    97
26    91
27    84
28    88
29    90
Name: MxT, dtype: int64

In [18]:
def min_abs_difference(df, col1, col2, result_col):
    max_column = df.iloc[:, col1]
    min_column = df.iloc[:, col2]
    
    min_abs_difference_index = abs(max_column - min_column).idxmin()
    
    return df.iloc[min_abs_difference_index, result_col]

min_abs_difference(df, 1, 2, 0)

14

In [20]:
os.curdir

'.'

In [21]:
!ls

Admission.csv          interview-questions    playing.py
Untitled.ipynb         min_difference.ipynb   readme.md
finishing.py           parse_csv.py           test.csv
football.csv           parse_csv_test.py      weather.csv
ids_with_sublabels.csv patientID.csv

In [22]:
!pwd

/Users/marianamarkella/Desktop/SJSU/interview_prep/real_python/interview_question/interview-questions/parsing-data